<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="google-signin-client_id" content="49560145160-80v99olfohmo0etbo6hugpo337p5d1nl.apps.googleusercontent.com">

    <title>Resumator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/css/bootstrap-select.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <div id="navigationContainer"></div>
    <div id="applicationContainer"></div>

    <script class="applicationTemplate" type="text/template">
      <div class="container">
        <div id="contentContainer"></div>
      </div>
    </script>

    <script class="navigationTemplate" type="text/template">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="images/logo.svg">
            </a>
          </div>

          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="applicationIndex" href="#">Home</a></li>
              <li><a class="employeeIndex" href="#employee">Employees</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right avatar">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img class="avatar-small" src="<%= icon %>" />
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% if (typeof profile === 'undefined') { %>
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  <% } else { %>
                  <a href="#" onclick="signOut();">Sign out</a>
                  <% } %>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </script>

    <script class="applicationIndexPageTemplate" type="text/template">
      <h1>Index</h1>

      Features a small text explaining the project goals and outline.
    </script>

    <script class="employeeIndexPageTemplate" type="text/template">
      <h1>Employees</h1>

      <!-- TODO: Button with plus icon -->
      <a href="#employee/new" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>

      <div id="employeeSearchContainer"></div>
    </script>

    <script class="employeeSearchFormTemplate" type="text/template">
      <form>
        <div class="form-group">
          <label for="employeeSearchName">Name</label>
          <input type="email" class="form-control" id="employeeSearchName" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="employeeSurname">Name</label>
          <input type="email" class="form-control" id="employeeSurname" placeholder="Surname">
        </div>

        yearOfBirth
        nationality
        currentResidence

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </form>
    </script>

    <script class="employeeNewPageTemplate" type="text/template">
      <h1>New Employee</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" autofocus>
          </div>
        </div>

        <div class="form-group">
          <label for="inputSurname" class="col-sm-2 control-label">Surname</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
          </div>
        </div>

        <div class="form-group">
          <label for="inputYearOfBirth" class="col-sm-2 control-label">Year of Birth</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputYearOfBirth" value="<%- new Date().getFullYear() - 18 %>">
          </div>
        </div>

        <div class="form-group">
          <label for="inputNationality" class="col-sm-2 control-label">Nationality</label>
          <div class="col-sm-10">
            <select id="inputNationality" data-live-search="true" title="Choose a nationality">
              <option value="AFGHAN">Afghan</option>
              <option value="ALBANIAN">Albanian</option>
              <option value="ALGERIAN">Algerian</option>
              <option value="AMERICAN">American</option>
              <option value="ANDORRAN">Andorran</option>
              <option value="ANGOLAN">Angolan</option>
              <option value="ANTIGUANS">Antiguans</option>
              <option value="ARGENTINEAN">Argentinean</option>
              <option value="ARMENIAN">Armenian</option>
              <option value="AUSTRALIAN">Australian</option>
              <option value="AUSTRIAN">Austrian</option>
              <option value="AZERBAIJANI">Azerbaijani</option>
              <option value="BAHAMIAN">Bahamian</option>
              <option value="BAHRAINI">Bahraini</option>
              <option value="BANGLADESHI">Bangladeshi</option>
              <option value="BARBADIAN">Barbadian</option>
              <option value="BARBUDANS">Barbudans</option>
              <option value="BATSWAN">Batswan</option>
              <option value="BELARUSIAN">Belarusian</option>
              <option value="BELGIAN">Belgian</option>
              <option value="BELIZEAN">Belizean</option>
              <option value="BENINESE">Beninese</option>
              <option value="BHUTANESE">Bhutanese</option>
              <option value="BOLIVIAN">Bolivian</option>
              <option value="BOSNIAN">Bosnian</option>
              <option value="BRAZILIAN">Brazilian</option>
              <option value="BRITISH">British</option>
              <option value="BRUNEIAN">Bruneian</option>
              <option value="BULGARIAN">Bulgarian</option>
              <option value="BURKINABE">Burkinabe</option>
              <option value="BURMESE">Burmese</option>
              <option value="BURUNDIAN">Burundian</option>
              <option value="CAMBODIAN">Cambodian</option>
              <option value="CAMEROONIAN">Cameroonian</option>
              <option value="CANADIAN">Canadian</option>
              <option value="CAPE_VERDEAN">Cape Verdean</option>
              <option value="CENTRAL_AFRICAN">Central African</option>
              <option value="CHADIAN">Chadian</option>
              <option value="CHILEAN">Chilean</option>
              <option value="CHINESE">Chinese</option>
              <option value="COLOMBIAN">Colombian</option>
              <option value="COMORAN">Comoran</option>
              <option value="CONGOLESE">Congolese</option>
              <option value="COSTA_RICAN">Costa Rican</option>
              <option value="CROATIAN">Croatian</option>
              <option value="CUBAN">Cuban</option>
              <option value="CYPRIOT">Cypriot</option>
              <option value="CZECH">Czech</option>
              <option value="DANISH">Danish</option>
              <option value="DJIBOUTI">Djibouti</option>
              <option value="DOMINICAN">Dominican</option>
              <option value="DUTCH">Dutch</option>
              <option value="EAST_TIMORESE">East Timorese</option>
              <option value="ECUADOREAN">Ecuadorean</option>
              <option value="EGYPTIAN">Egyptian</option>
              <option value="EMIRIAN">Emirian</option>
              <option value="EQUATORIAL_GUINEAN">Equatorial Guinean</option>
              <option value="ERITREAN">Eritrean</option>
              <option value="ESTONIAN">Estonian</option>
              <option value="ETHIOPIAN">Ethiopian</option>
              <option value="FIJIAN">Fijian</option>
              <option value="FILIPINO">Filipino</option>
              <option value="FINNISH">Finnish</option>
              <option value="FRENCH">French</option>
              <option value="GABONESE">Gabonese</option>
              <option value="GAMBIAN">Gambian</option>
              <option value="GEORGIAN">Georgian</option>
              <option value="GERMAN">German</option>
              <option value="GHANAIAN">Ghanaian</option>
              <option value="GREEK">Greek</option>
              <option value="GRENADIAN">Grenadian</option>
              <option value="GUATEMALAN">Guatemalan</option>
              <option value="GUINEA_BISSAUAN">Guinea Bissauan</option>
              <option value="GUINEAN">Guinean</option>
              <option value="GUYANESE">Guyanese</option>
              <option value="HAITIAN">Haitian</option>
              <option value="HERZEGOVINIAN">Herzegovinian</option>
              <option value="HONDURAN">Honduran</option>
              <option value="HUNGARIAN">Hungarian</option>
              <option value="I_KIRIBATI">I Kiribati</option>
              <option value="ICELANDER">Icelander</option>
              <option value="INDIAN">Indian</option>
              <option value="INDONESIAN">Indonesian</option>
              <option value="IRANIAN">Iranian</option>
              <option value="IRAQI">Iraqi</option>
              <option value="IRISH">Irish</option>
              <option value="ISRAELI">Israeli</option>
              <option value="ITALIAN">Italian</option>
              <option value="IVORIAN">Ivorian</option>
              <option value="JAMAICAN">Jamaican</option>
              <option value="JAPANESE">Japanese</option>
              <option value="JORDANIAN">Jordanian</option>
              <option value="KAZAKHSTANI">Kazakhstani</option>
              <option value="KENYAN">Kenyan</option>
              <option value="KITTIAN_AND_NEVISIAN">Kittian And Nevisian</option>
              <option value="KUWAITI">Kuwaiti</option>
              <option value="KYRGYZ">Kyrgyz</option>
              <option value="LAOTIAN">Laotian</option>
              <option value="LATVIAN">Latvian</option>
              <option value="LEBANESE">Lebanese</option>
              <option value="LIBERIAN">Liberian</option>
              <option value="LIBYAN">Libyan</option>
              <option value="LIECHTENSTEINER">Liechtensteiner</option>
              <option value="LITHUANIAN">Lithuanian</option>
              <option value="LUXEMBOURGER">Luxembourger</option>
              <option value="MACEDONIAN">Macedonian</option>
              <option value="MALAGASY">Malagasy</option>
              <option value="MALAWIAN">Malawian</option>
              <option value="MALAYSIAN">Malaysian</option>
              <option value="MALDIVAN">Maldivan</option>
              <option value="MALIAN">Malian</option>
              <option value="MALTESE">Maltese</option>
              <option value="MARSHALLESE">Marshallese</option>
              <option value="MAURITANIAN">Mauritanian</option>
              <option value="MAURITIAN">Mauritian</option>
              <option value="MEXICAN">Mexican</option>
              <option value="MICRONESIAN">Micronesian</option>
              <option value="MOLDOVAN">Moldovan</option>
              <option value="MONACAN">Monacan</option>
              <option value="MONGOLIAN">Mongolian</option>
              <option value="MOROCCAN">Moroccan</option>
              <option value="MOSOTHO">Mosotho</option>
              <option value="MOTSWANA">Motswana</option>
              <option value="MOZAMBICAN">Mozambican</option>
              <option value="NAMIBIAN">Namibian</option>
              <option value="NAURUAN">Nauruan</option>
              <option value="NEPALESE">Nepalese</option>
              <option value="NEW_ZEALANDER">New Zealander</option>
              <option value="NICARAGUAN">Nicaraguan</option>
              <option value="NIGERIAN">Nigerian</option>
              <option value="NIGERIEN">Nigerien</option>
              <option value="NORTH_KOREAN">North Korean</option>
              <option value="NORTHERN_IRISH">Northern Irish</option>
              <option value="NORWEGIAN">Norwegian</option>
              <option value="OMANI">Omani</option>
              <option value="PAKISTANI">Pakistani</option>
              <option value="PALAUAN">Palauan</option>
              <option value="PANAMANIAN">Panamanian</option>
              <option value="PAPUA_NEW_GUINEAN">Papua New Guinean</option>
              <option value="PARAGUAYAN">Paraguayan</option>
              <option value="PERUVIAN">Peruvian</option>
              <option value="POLISH">Polish</option>
              <option value="PORTUGUESE">Portuguese</option>
              <option value="QATARI">Qatari</option>
              <option value="ROMANIAN">Romanian</option>
              <option value="Russian">RUSSIAN</option>
              <option value="RWANDAN">Rwandan</option>
              <option value="SAINT_LUCIAN">Saint Lucian</option>
              <option value="SALVADORAN">Salvadoran</option>
              <option value="SAMOAN">Samoan</option>
              <option value="SAN_MARINESE">San Marinese</option>
              <option value="SAO_TOMEAN">Sao Tomean</option>
              <option value="SAUDI">Saudi</option>
              <option value="SCOTTISH">Scottish</option>
              <option value="SENEGALESE">Senegalese</option>
              <option value="SERBIAN">Serbian</option>
              <option value="SEYCHELLOIS">Seychellois</option>
              <option value="SIERRA_LEONEAN">Sierra Leonean</option>
              <option value="SINGAPOREAN">Singaporean</option>
              <option value="SLOVAKIAN">Slovakian</option>
              <option value="SLOVENIAN">Slovenian</option>
              <option value="SOLOMON_ISLANDER">Solomon Islander</option>
              <option value="SOMALI">Somali</option>
              <option value="SOUTH_AFRICAN">South African</option>
              <option value="SOUTH_KOREAN">South Korean</option>
              <option value="SPANISH">Spanish</option>
              <option value="SRI_LANKAN">Sri Lankan</option>
              <option value="SUDANESE">Sudanese</option>
              <option value="SURINAMER">Surinamer</option>
              <option value="SWAZI">Swazi</option>
              <option value="SWEDISH">Swedish</option>
              <option value="SWISS">Swiss</option>
              <option value="SYRIAN">Syrian</option>
              <option value="TAIWANESE">Taiwanese</option>
              <option value="TAJIK">Tajik</option>
              <option value="TANZANIAN">Tanzanian</option>
              <option value="THAI">Thai</option>
              <option value="TOGOLESE">Togolese</option>
              <option value="TONGAN">Tongan</option>
              <option value="TRINIDADIA">Trinidadia</option>
              <option value="TUNISIAN">Tunisian</option>
              <option value="TURKISH">Turkish</option>
              <option value="TUVALUAN">Tuvaluan</option>
              <option value="UGANDAN">Ugandan</option>
              <option value="UKRAINIAN">Ukrainian</option>
              <option value="URUGUAYAN">Uruguayan</option>
              <option value="UZBEKISTANI">Uzbekistani</option>
              <option value="VENEZUELAN">Venezuelan</option>
              <option value="VIETNAMESE">Vietnamese</option>
              <option value="WELSH">Welsh</option>
              <option value="YEMENITE">Yemenite</option>
              <option value="ZAMBIAN">Zambian</option>
              <option value="ZIMBABWEAN">Zimbabwean</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="inputResidence" class="col-sm-2 control-label">Current Residence</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputResidence" placeholder="Current Residence">
          </div>
        </div>

        <div id="employeeCoursesContainer"></div>
        <div id="employeeEducationContainer"></div>
        <div id="employeeExperienceContainer"></div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="reset" id="resetButton" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            <button type="submit" id="confirmButton" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create</button>
          </div>
        </div>
      </form>
    </script>

    <script class="employeeCoursesTemplate" type="text/template">
      <div class="form-group">
        <label for="employeeCoursesEntriesContainer" class="col-sm-2 control-label">Courses</label>

        <div class="col-sm-10">
          <ul id="employeeCoursesEntriesContainer">
          </ul>

          <div class="input-group employeeCoursesEntry">
            <input type="text" class="form-control employeeCoursesEntryInput" placeholder="Course Name">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default employeeCoursesEntryButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
            </span>
          </div>
        </div>
      </div>
    </script>

    <script class="employeeCoursesEntryTemplate" type="text/template">
      <li>
        <span class="value"><%- value %></span>
        <span class="glyphicon glyphicon-trash remove" aria-hidden="true"></span>
      </li>
    </script>

    <script class="employeeCoursesAddEntryTemplate" type="text/template">
    </script>

    <script class="employeeEducationTemplate" type="text/template">
    </script>

    <script class="employeeExperienceTemplate" type="text/template">
    </script>

    <script class="employeeNewCourseFormTemplate" type="text/template">
      <form>
        <div class="form-group">
          <label for="employeeCourseName">Name</label>
          <input type="email" class="form-control" id="employeeCourseName" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="employeeCourseDescription">Description</label>
          <input type="email" class="form-control" id="employeeCourseDescription" placeholder="Description">
        </div>

        <div class="form-group">
          <label for="employeeCourseDate">Date</label>
          <input type="email" class="form-control" id="employeeCourseDate" placeholder="Date">
        </div>
      </form>
    </script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/js/bootstrap-select.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
