import { expect } from 'chai';

import {{ camelCase unit }} from '../../{{ path }}';

describe('{{ camelCase unit }}', () => {
  it('should pass cause it is a dummy test', () => {
    expect(true).to.eql(true);
  });
});
